* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Verdana";
}

header {
  background-color: rgba(24, 51, 58, 0.9);
  color: white;
  width: 100%;
  height: 65px;
  position :fixed;
  top: 0;
  z-index: 10;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.header-right {
  float: right;
  margin-right: -25px;
}
.header-right a {
  color: white;
  padding: 0px 25px;
  line-height: 65px;
  display: block;
  float: left;
  transition: all 0.5s;
}
.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.header-left {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 65px;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.heading {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #5f5d60;
}
.top-wrapper {
  padding: 180px 0px 100px 0px;
  color: white;
  background-image: url("https://raw.githubusercontent.com/lilipertiwi/TeamF27/master/collab.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 700px;
}
.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.top-wrapper p {
  margin-bottom: 3px;
}
.btn {
  padding: 12px 24px;
  margin-top: 15px;
  color: white;
  display: inline-block;
  opacity: 0.9;
  border-radius: 4px;
  text-align: center;
}
.web {
  /* background-color: #F9C035; */
  background-color: #D14E44;
}
.web:hover {
  background-color: #F9C035;
}
.about-us{
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
  color: #18333A;
}
.about-us p {
  text-align: center;
}
.value-wrapper {
  height: auto;
  overflow: hidden;
}
.value {
  float: left;
  width: 33%;
}

.value-icon {
  position: relative;
}

.value-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}
.our-team {
  background-color: #DBECF0;
  color: #18333A;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}
.team {
  overflow: hidden;
  align-content: center;
}
.member {
  float: left;
  width: 20%;
}
.member-icon {
  position: relative;
  padding-top: 20px;
}

.member-icon:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.member-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}
.contact {
  margin-top: 0px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
  color: #18333A;
}
.contact-submit {
  background-color: #D14E44;
  color: white;
}
.contact-submit:hover {
  background-color: #F9C035;
}
input, textarea {
  width: 400px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #dee7ec;
  color: grey;
}


footer{
	bottom: 0;
}
.footer-distributed{
	background-color: #18333A;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 15px 10px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
  padding-left: 25px;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Verdana';
	margin: 0;
}

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 12px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
  font-size: 12px;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #244F59;
  /* background-color:  #33383b; */
	color: #ffffff;
	font-size: 16px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	margin: 5px 5px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 16px;
	line-height: 30px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
  font-weight: normal;
  font-size: 14px;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

.footer-distributed .footer-icons{
	margin-top: 10px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background-color:  #244F59;
	border-radius: 2px;

	font-size: 12px;
	color: #ffffff;
	text-align: center;
	line-height: 25px;

	margin-right: 3px;
	margin-bottom: 5px;
}
